.login_input{
    border: 0.5px solid gray;
    border-radius: 5px;
}
.main_div{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}